name: Sync Master from Gitee

on:
  workflow_dispatch:    # 允许外部调用触发

env:
  GITEE_REPO: "gitee.com/mr_qjj/proxy-forge.git"
  PROJECT_NAME: "proxy-forge"
  SYNC_BRANCH: "master"

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Add Gitee Remote
        run: |
          git remote add gitee https://${{ secrets.GITEE_USER }}:${{ secrets.GITEE_TOKEN }}@${{ env.GITEE_REPO }}

      - name: Fetch Gitee updates
        run: |
          git fetch gitee ${{ env.SYNC_BRANCH }} --prune
          git fetch --tags gitee

      - name: Sync master branch
        run: |
          if git ls-remote --heads origin ${{ env.SYNC_BRANCH }} | grep -q ${{ env.SYNC_BRANCH }}; then
            echo "Branch exists, updating..."
          else
            echo "Branch does not exist, creating..."
            git checkout -b ${{ env.SYNC_BRANCH }}
          fi
          git checkout -B ${{ env.SYNC_BRANCH }} gitee/${{ env.SYNC_BRANCH }}
          
          # 使用 PAT 推送
          git remote set-url origin https://${{ secrets.GH_PAT }}@github.com/Mrqjj/ProxyForge.git
          git push origin ${{ env.SYNC_BRANCH }}

      - name: Sync tags
        run: |
          for tag in $(git tag -l); do
            git push origin $tag
          done
