name: Sync from Gitee

# 可以定时或者手动触发
on:
  schedule:
    - cron: '30 * * * *'
  workflow_dispatch: # 支持手动触发

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      # 拉取 GitHub 仓库内容
      - name: Checkout GitHub repo
        uses: actions/checkout@v3

      # 拉取 Gitee 仓库内容
      - name: Pull from Gitee
        run: |
          git remote add gitee https://gitee.com/mr_qjj/proxy-forge.git
          git fetch gitee

      # 合并 Gitee 分支到本地 develop 分支
      - name: Merge Gitee into GitHub
        run: |
          git checkout develop
          git merge gitee/develop --allow-unrelated-histories -m "Sync from Gitee"

      # 推送合并后的代码到 GitHub
      - name: Push to GitHub
        run: |
          git push origin develop
